*.DS_Store
*.xcodeproj
*.sdf
*.sln
*.db
*.rc
*.suo
*.log
*.opensdf
*.xcuserstate
*.xcworkspacedata
*.xcworkspace
*.xcsettings
*.sublime-workspace
*.xcbkptlist
*.opendb
Build/Receipts
Intermediate
Saved
Binaries
Plugins
DerivedDataCache
