*.db
*.DS_Store
*.log
*.opendb
*.opensdf
*.rc
*.sdf
*.sln
*.sublime-workspace
*.suo
*.xcbkptlist
*.xcodeproj
*.xcsettings
*.xcuserstate
*.xcworkspace
*.xcworkspacedata
Binaries
Build/Receipts
Content/StarterContent/
DerivedDataCache
Intermediate
Plugins
Saved
